[Unit]
Description=My ASP.NET Core Application
After=network.target

[Service]
WorkingDirectory=/var/www/myapp/
ExecStart=/usr/bin/dotnet /var/www/myapp/Proj1.dll --urls "http://0.0.0.0:5000"
Restart=always
# Set environment variables if needed
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
